<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1 class="btn btn-gradient">Simple, Clean and Direct</h1>
    <p class="btn btn-ghost">I love my website!!!</p>
    <%=link_to "Wecome to Capo's website! Enjoy!!", cocktails_path, class: "btn btn-flat"  %>
  </div>
</div>

